.App {
  text-align: center;
}

.question-card{
  margin: 0 auto;
  background-color: darkcyan;
  height: auto;
  width: 80%;
  border-radius: 15px;
  padding: 16px;
  

}
ul{
  list-style: none;
}
li{
  background-color: aqua;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: 3px solid white;
  margin-top: 8px;
  border-radius: 25px;
  
}
.question-text{
  color:darkblue;
}
.final-result{
  margin: 0 auto;

  background-color: aqua;
  padding: 16px;
  border-radius:16px;
  color: white;
  width: 50%;
  height: auto;
}